<table class="table table-hover">
  <tr>
   <th>Name</th>
   <th>Price</th>
   <th>Description</th>
   <th>Type</th>
   <th></th>
  </tr>
    <tr *ngFor="let pd of service.list">
      <td (click)="populateForm(pd)">{{pd.productName}}</td>
      <td (click)="populateForm(pd)">{{pd.price}}</td>
      <td (click)="populateForm(pd)">{{pd.description}}</td>
      <td (click)="populateForm(pd)">{{pd.productType}}</td>
      <td>
        <p>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id)"></i>
    </p>
      </td>
    </tr>
  </table>