.cart_section{
    padding: 40px 0;
}
table {
    font-family: arial, 
    sans-serif;
border-collapse: collapse;
    width: 100%;
    
  }
    
 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: 	#01998c;
  color: white;
}
tr:hover{
  cursor: pointer;
  background-color: 	rgb(190, 190, 190);
}
  
  td  {
    border: 1px solid
     #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 

  .btn{
    background:
    #01998c;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    margin: 0 8px;
}
.content span{
    font-weight: 800;
    font-size: 18px;
}
.cart_section h3{
    margin-top: 10px;
    font-size: 22px;
}
.delete{
  border: 1px solid
   rgb(247, 14, 14);
  cursor: pointer;
}
.delete i{
  font-size: 18px;
  color: rgb(248, 2, 2);
}
.removeall{
  background: #df0000;
    color: #fff;
    font-weight: 600;
    border: 1px solid
     #b00000;
    padding: 4px 10px;
    border-radius: 4px;
    margin-top: 14px;
}
.button {
  background-color: #01998c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
img {
 
  width:  100px;
  height: 150px;
  object-fit: cover;
}